<div class="container">
    <div class="left">
        <div class="top">
            <h1>Mercury</h1>
            <p><b>Year length: </b>88 Earth Days</p>
            <p><b>Type: </b>Terrestrial</p>
        </div><br>
        <p>
            The smallest planet in our solar system and nearest to the Sun, Mercury is only slightly
            larger than Earth's Moon. From the surface of Mercury, the Sun would appear more
            than three times as large as it does when viewed from Earth, and the sunlight would
            be as much as seven times brighter. Despite its proximity to the Sun, Mercury is not
            the hottest planet in our solar system – that title belongs to nearby Venus,
            thanks to its dense atmosphere. <br><br>
            Mercury is the fastest planet in our solar system – traveling through space at nearly
            29 miles (47 kilometers) per second. The closer a planet is to the Sun, the faster it
            travels. Since Mercury is the fastest planet and has the shortest distance to travel
            around the Sun, it has the shortest year of all the planets in our solar system – 88 days. <br><br>
            Mercury is a rocky planet, also known as a terrestrial planet. Mercury has a solid,
            cratered surface, much like the Earth's moon. There are no rings around Mercury.
        </p>
    </div>

    <div class="right">
        <div id="mercury"></div>
    </div>
</div>