<div class="container">
    <div class="left">
        <div class="top">
            <h1>Earth</h1>
            <p><b>Year length: </b>365 Earth Days</p>
            <p><b>Type: </b>Terrestrial</p>
        </div><br>
        <p>
            While Earth is only the fifth largest planet in the solar system, it is the only world in
            our solar system with liquid water on the surface. Just slightly larger than nearby
            Venus, Earth is the biggest of the four planets closest to the Sun, all of which are
            are made of rock and metal. <br><br>
            All of the planets, except for Earth, were named after Greek and Roman gods and
            goddesses. However, the name Earth is a Germanic word, which simply means
            “the ground.” <br><br>
            Earth is a rocky planet with a solid and dynamic surface of mountains, canyons,
            plains and more. Most of our planet is covered in water. Earth's atmosphere is
            78 percent nitrogen, 21 percent oxygen and 1 percent other ingredients—the
            perfect balance to breathe and live. It has one moon and no rings.
        </p>
    </div>

    <div class="right">
        <div id="earth"></div>
    </div>
</div>