<!-- HEADER************************ -->
<header>
  <div class="logo">
    <a routerLink="home">間</a>
  </div>
  <nav>
    <a routerLink="safety">Safety</a>
    <a routerLink="contact-us">Contact Us</a>
  </nav>

  <div class="planets-drpdwn">
    <button (click)="viewPlanets()" id="planetsLnk">
      View Planets 
      <i class="fa-solid fa-angle-down"></i>
    </button>
    <div *ngIf="planetsDisplay" id="planetsDisplay" class="drpdwn"> 
      <a routerLink="mercury">Mercury</a>
      <a routerLink="earth">Earth</a>
      <a routerLink="mars">Mars</a>
      <a routerLink="titan">Titan</a>
    </div>
  </div>

  <a routerLink="book-now">Book Now</a> 
</header>
<br><br>

<!-- VIEW************************ -->
<!-- <app-book></app-book> -->
<router-outlet></router-outlet>

<!-- FOOTER************************ -->
<footer>
  <div class="logo">
    <a href="#">間</a>
  </div><br>
  <a href="#">Visit help centre</a><br><br>
  <section>
    <div>
      <h2>Company</h2>
      <a href="#">Our Offerings</a><br>
      <a href="#">Investors</a><br>
      <a href="#">Giftcards</a>
    </div>
    <div>
      <h2>Products</h2>
      <a href="#">Ride</a><br>
      <a href="#">Drive <span [ngStyle]="{'color': 'red'}">*</span></a><br>
      <a href="#">Eat</a>
    </div>
    <div>
      <h2>Universal Citizenship</h2>
      <a href="#">Safety</a>
    </div>
    <div>
      <h2>Travel</h2>
      <a href="#">Terminals</a><br>
      <a href="#">Planets</a>
    </div>
  </section><br><br>
  <div class="bottom">
    <div class="right">
      <p>© 2022 Interstellar Technologies Inc.</p>
    </div>
    <div class="left">
      <a href="#">Privacy</a>
      <a href="#">Accessibility</a>
      <a href="#">Terms</a>
    </div>
  </div>
</footer>

  <!-- [ngStyle]="{'color': 'white'}" -->