<div class="container">
    <div class="left">
        <h1>Interstellar travel has never <br> been this safe</h1>
        <p>
            We want you to move freely, make the most of your time, and be connected to the people
            and places that matter most to you. That’s why we are committed to safety, from the
            creation of new standards to the development of technology with the aim of reducing 
            incidents. A specially trained team is available 24/7. Reach them in the app,
            day or night, with any questions or safety concerns. <br><br>
            Tap a button for emergency assistance. Share your lease details with loved ones. Our
            technology helps put peace of mind at your fingertips. Millions of users share a set
            of Community Guidelines, holding each other accountable to do the right thing.
            Millions of users make requests every day. Every user has access to safety features
            built into the app. And every connection has a support team if you need them.
        </p>
    </div>

    <div class="right">
        <img src="https://cdn.discordapp.com/attachments/882362353507778613/960758125714100284/Virgin_Galactic_Spaceship_Cabin_Interior_In_Space-e1595973869316-scaled.jpg" alt="cabin interior">
    </div>
</div>