<div class="container">
    <h1>
        Interstellar travel, the likes of which has never <br>been seen before!
    </h1><br><br>
    <h2>See the galaxy...</h2>
    <section>
        <div class="medusa">
            <div class="front">
                <img src="https://apod.nasa.gov/apod/image/2203/Medusa_Nebula_141_x_180s.jpg" alt="the medusa nebula">
                <p>The Medusa <br> Nebula</p>
            </div>
            <div class="back">
                <p>
                    This is a planetary nebula in the constellation of Gemini. It is also known as <b>Abell 21</b> and <b>Sharpless 2-274</b>.
                </p>
            </div>
            
        </div>
        <div class="bubble">
            <div class="front">
                <img src="https://apod.nasa.gov/apod/image/2203/Bubble_HubbleOzsarac_1952.jpg" alt="the bubble nebula">
                <p>The Bubble <br> Nebula</p>
            </div>
            <div class="back">
                <p>
                    This is an H II region emission nebula in the constellation Cassiopeia. It lies close to the direction of the open cluster
                    Messier 52.
                </p>
            </div>
        </div>
        <div class="eagle">
            <div class="front">
                <img src="https://apod.nasa.gov/apod/image/2203/Pillars_HstBibillo_1097.jpg" alt="Star Formation in the Eagle Nebula">
                <p>Star Formation in <br> the Eagle Nebula</p>
            </div>
            <div class="back">
                <p>
                    Gravity pulls clouds of gas together to collapse inward. With enough gas, nuclear fusion ignites in the center, creating a shining star.
                </p>
            </div>
        </div>
    </section>
</div>